.ipynb_checkpoints
target
*.data
*.dim
*.tif
runc
__pycache__
*.properties
*.egg-info
*.pyc
dist
build
*.vrt
*.geojson
.DS_Store
*.err
*.out
*.out
default.yaml
owscontext.xml
docker-build
.vscode
catalog.json
*.geom
staged
.theia
.tox
